<div align="center">
  <h2>Міністерство освіти і науки України</h2>
  <h2>Національний технічний університет України</h2>
  <h2>«Київський політехнічний інститут ім. Ігоря Сікорського»</h2>
  <h2>Факультет інформатики та обчислювальної техніки</h2>
  <h2>Кафедра обчислювальної техніки</h2>
  <br>
</div>

<div align="right">
    <br>
    <br>
<center>
<h2>Лабораторна робота №1</h2>
</center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
Виконав: <br>
Студент ІІ курсу ФІОТ <br>
групи ІО-34 <br>
Токарюк Станіслав Борисович <br>
Номер у списку - 21 <br><br>

<center>
Київ - 2025
</center>

In [3]:
import pandas as pd

In [1]:
# Завантаження Dataset з платформи kaggle
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shivamb/amazon-prime-movies-and-tv-shows")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/shivamb/amazon-prime-movies-and-tv-shows?dataset_version_number=1...

100%|██████████| 1.61M/1.61M [00:00<00:00, 2.26MB/s]

Extracting files...
Path to dataset files: C:\Users\Stas\.cache\kagglehub\datasets\shivamb\amazon-prime-movies-and-tv-shows\versions\1

In [4]:
# 
df = pd.read_csv('amazon_prime_titles.csv')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [5]:
# Вивід загального опису параметрів стовпця "country"
df.country.describe()

count               672
unique               86
top       United States
freq                253
Name: country, dtype: object

In [6]:
# Вивід унікальних країн та їх комбінацій
df.country.unique()

array(['Canada', 'India', 'United States', 'United Kingdom', 'France',
       'Spain', nan, 'Italy', 'United Kingdom, France',
       'United States, Italy', 'United States, India',
       'United Kingdom, United States',
       'United States, United Kingdom, Germany', 'Japan',
       'China, United States, United Kingdom',
       'Denmark, United Kingdom, Czech Republic, Netherlands',
       'United States, Ireland', 'United States, United Kingdom, Canada',
       'United Kingdom, United States, India', 'United Kingdom, India',
       'United States, China', 'Canada, United States',
       'United States, Thailand', 'Brazil, United States, India',
       'Switzerland, India', 'United Kingdom, Canada, United States',
       'Germany', 'Australia', 'Belgium',
       'Chile, Argentina, United States', 'Mexico',
       'Denmark, Sweden, United States', 'Netherlands',
       'United States, United Kingdom', 'New Zealand',
       'United States, Portugal', 'United States, France',
       'Canada, United States, Brazil', 'France, United States',
       'India, United States', 'India, Sweden',
       'United Kingdom, Hungary, United States',
       'Czech Republic, Germany', 'United Kingdom, France, United States',
       'Iran, France', 'United States, France, Denmark', 'Brazil',
       'Ireland, Belgium, France, Luxembourg, United Kingdom',
       'United States, Germany, Brazil, Italy', 'South Africa',
       'Australia, United States, Germany',
       'Germany, Austria, United States',
       'France, China, Belgium, Monaco', 'Egypt',
       'United States, Austria', 'United States, United Arab Emirates',
       'United States, Belgium, Denmark, France', 'Switzerland',
       'United States, Canada',
       'India, United States, United Kingdom, Canada, China',
       'India, South Africa, Brazil', 'United States, Germany',
       'United States, Japan, Singapore, South Korea',
       'Afghanistan, France', 'Australia, Colombia, United Kingdom',
       'United States, Sweden, Norway', 'Kosovo, Netherlands',
       'Spain, United Kingdom, Italy', 'Austria', 'United Kingdom, Spain',
       'United States, United Kingdom, Kazakhstan', 'Malaysia',
       'Poland, United States', 'Canada, Germany', 'India, Denmark',
       'United States, Switzerland', 'United States, Germany, Italy',
       'Denmark, France', 'Japan, France',
       'Kosovo, Albania, United States, Georgia', 'United States, Japan',
       'Germany, Canada, United States, France, United Kingdom',
       'United States, Mexico',
       'United States, Germany, Japan, United Kingdom, Hong Kong',
       'Italy, Canada', 'France, Belgium', 'Italy, Spain'], dtype=object)

In [7]:
# Вивід середнього року випуску фільмів
df.release_year.mean()

np.float64(2008.3418494000828)

In [32]:
# Вивід кількості випущених фільмів та серіалів країною
df.country.value_counts()

country
United States                                               253
India                                                       229
United Kingdom                                               28
Canada                                                       16
United Kingdom, United States                                12
                                                           ...
United States, Mexico                                         1
United States, Germany, Japan, United Kingdom, Hong Kong      1
Italy, Canada                                                 1
France, Belgium                                               1
Italy, Spain                                                  1
Name: count, Length: 86, dtype: int64

In [76]:
# Вивід відфільтрованих за типом продакшинів
movies = df[df['type'] == 'Movie'].copy()
movies

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
9660,s9661,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, Maïwenn",NaN,NaN,2021,13+,96 min,Comedy,The Man in the Hat journeys through France in ...
9662,s9663,Movie,River,Emily Skye,"Mary Cameron Rogers, Alexandra Rose, Rob Marsh...",NaN,NaN,2021,16+,93 min,"Drama, Science Fiction, Suspense","River is a grounded Sci-Fi mystery Thriller, t..."
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [89]:
# Вивід середньго значення тривалості фільму
movies_duration_int = movies['duration'].str.replace(" min", "").astype(int)
duration_movies_mean = movies_duration_int.mean()
duration_movies_mean

np.float64(91.311876119785)

In [79]:
# Вивід відхилення від сердньої тривалості фільму
movies['difference_mean'] = movies_duration_int - duration_movies_mean
movies[['title', 'difference_mean']]

                     title  difference_mean
0      The Grand Seduction        21.688124
1     Take Care Good Night        18.688124
2     Secrets of Deception       -17.311876
3       Pink: Staying True       -22.311876
4            Monster Maker       -46.311876
...                    ...              ...
9660    The Man in the Hat         4.688124
9662                 River         1.688124
9663   Pride Of The Bowery       -31.311876
9665               Outpost        -1.311876
9667           Harry Brown        11.688124

[7814 rows x 2 columns]

In [8]:
# Вивід назви фільму з його триваістю
df[['title', 'duration']]

                        title   duration
0         The Grand Seduction    113 min
1        Take Care Good Night    110 min
2        Secrets of Deception     74 min
3          Pink: Staying True     69 min
4               Monster Maker     45 min
...                       ...        ...
9663      Pride Of The Bowery     60 min
9664            Planet Patrol  4 Seasons
9665                  Outpost     90 min
9666  Maradona: Blessed Dream   1 Season
9667              Harry Brown    103 min

[9668 rows x 2 columns]

In [10]:
# Вивід відфільтрованих за жанром фільмів
df[df['listed_in'].str.contains(r"\bcomedy\b", case=False)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
7,s8,Movie,Grease Live!,"Thomas Kail, Alex Rudzinski","Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",United States,"March 30, 2021",2016,NaN,131 min,Comedy,"This honest, uncompromising comedy chronicles ..."
11,s12,Movie,Take Care,Liz Tuccillo,"Leslie Bibb, Kevin Curtis, Nadia Dajani",United States,"April 10, 2021",2014,NaN,93 min,Comedy,"When a car crash leaves Frannie immobilized, s..."
15,s16,Movie,Summer '03,Becca Gleason,"Joey King, Jack Kilmer, Andrea Savage, Paul Sc...",United States,"June 3, 2021",2019,NaN,96 min,"Comedy, Drama",Summer '03 is the hilarious story of 16-year-o...
18,s19,TV Show,Zoë Coombs Marr: Bossy Bottom,NaN,Zoë Coombs Marr,NaN,NaN,2020,18+,1 Season,"Comedy, Talk Show and Variety",Zoë Coombs Marr has been on hiatus. Sort of. F...
...,...,...,...,...,...,...,...,...,...,...,...,...
9649,s9650,Movie,Jack,Francis Ford Coppola,"Robin Williams, Diane Lane, Brian Kerwin, Jenn...",NaN,NaN,1996,PG-13,113 min,Comedy,Robin Williams stars as a 10-year-old in a gro...
9653,s9654,Movie,Date Night (Extended Cut),Shawn Levy,"Mark Wahlberg, Steve Carell, Taraji P. Henson,...",NaN,NaN,2010,UNRATED,102 min,Comedy,A typical suburban couple's date night becomes...
9659,s9660,Movie,10 Things I Hate About You,Gil Junger,"Heath Ledger, Julia Stiles, Joseph Gordon-Levi...",NaN,NaN,1999,PG-13,97 min,"Comedy, Drama, Romance","On the first day at his new school, Cameron in..."
9660,s9661,Movie,The Man in the Hat,"John-Paul Davidson, Stephen Warbeck","Ciaran Hinds, Stephen Dillane, Maïwenn",NaN,NaN,2021,13+,96 min,Comedy,The Man in the Hat journeys through France in ...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...

In [11]:
# Кількість років, що пройшли від релізу фільму
df['passed_years'] = df.release_year.map(lambda p : 2025 - p)
df[['title', 'passed_years']]

                        title  passed_years
0         The Grand Seduction            11
1        Take Care Good Night             7
2        Secrets of Deception             8
3          Pink: Staying True            11
4               Monster Maker            36
...                       ...           ...
9663      Pride Of The Bowery            85
9664            Planet Patrol             7
9665                  Outpost            17
9666  Maradona: Blessed Dream             4
9667              Harry Brown            15

[9668 rows x 2 columns]

In [13]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2083
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
passed_years       0
dtype: int64

In [9]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2083
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64